<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388446354304-24ugahso56n1fdq3acmdb4dm0lpsj05o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388446354304-24ugahso56n1fdq3acmdb4dm0lpsj05o</string>
	<key>API_KEY</key>
	<string>AIzaSyAesZDZtMOOewzV5jvnbu8Cik8SgA8hT-U</string>
	<key>GCM_SENDER_ID</key>
	<string>388446354304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kvladimir.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-57fd7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-57fd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388446354304:ios:637a0cf03b2855464a5f65</string>
</dict>
</plist>